/* General body styling */
html{
    height:100%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* This will be mostly covered by the GIF */
    color: #ffffff; /* Changed to white for better visibility on dark background */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('../static/background.gif');
    background-size: cover; /* Ensures the GIF covers the entire screen */
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; /* Make sure the body takes up at least the viewport height */
}

/* Custom styling for the container */
.container {
    max-width: 400px;
    margin: 80px auto; /* Adjusted for vertical centering, tweak as needed */
    padding: 20px;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background for readability */
    border-radius: 8px; /* Soften the edges */
    text-align: center;
}

/* Custom buttons - merged custom and btn styles */
.btn, .btn-custom {
    background-color: #007bff; /* Button background color */
    color: #ffffff; /* Kept text color white for contrast */
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for both .btn and .btn-custom */
.btn:hover, .btn-custom:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Specific classes for text colors, kept for potential text emphasis */
.text-primary {
    color: #007bff !important;
}

.text-success {
    color: #28a745 !important;
}

.text-warning {
    color: #ffc107 !important;
}
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-image img {
    max-width: 160%;
    max-height: auto;
}